altgraph==0.10.2
amqp==2.2.2
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
bdist-mpkg==0.5.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
bonjour-py==0.3
celery==4.1.0
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
click==6.7
config==0.3.9
console==0.1.1
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cssselect2==0.2.1
Django==1.11.11
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
future==0.16.0
gevent==1.2.0
greenlet==0.4.12
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
itchat==1.2.32
itsdangerous==0.24
jenkins==1.0.2
Jinja2==2.10
kombu==4.1.0
lxml==4.6.5
macholib==1.5.1
MarkupSafe==1.0
matplotlib==1.3.1
meteo-downloader==1.0
modulegraph==0.10.4
monkey==0.1
multi-key-dict==2.0.3
npm==0.1.1
numpy==1.13.3
optional-django==0.1.0
optionaldict==0.1.1
pandas==0.22.0
parse==1.8.2
parsel==1.3.1
pbr==4.0.2
Pillow==5.0.0
pluggy==0.6.0
psutil==5.2.2
py==1.5.2
py2app==0.7.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==17.5.0
pyparsing==2.0.1
pypng==0.0.18
PyQRCode==1.2.1
pytesseract==0.1.7
pytest==3.4.1
python-dateutil==2.7.0
python-jenkins==1.0.0
python-memcached==1.59
pytz==2017.3
queuelib==1.4.2
redis==2.10.5
requests==2.18.4
scikit-learn==0.19.1
scipy==0.13.0b1
Scrapy==1.5.0
scrapy-splash==0.7.2
service-identity==17.0.0
six==1.11.0
sklearn==0.0
socketIO-client-2==0.7.5
SQLAlchemy==1.1.4
tinycss2==0.6.1
Twisted==17.9.0
urllib3==1.22
vboxapi==1.0
vine==1.1.4
w3lib==1.18.0
web.py==0.38
webencodings==0.5.1
websocket-client==0.46.0
wechatpy==1.6.1
Werkzeug==0.14.1
wxpy==0.3.9.8
xattr==0.6.4
xlrd==1.1.0
xmltodict==0.11.0
zope.interface==4.4.3
